body {
    color: rgb(54, 49, 46);
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    line-height: 1.2;
    background: rgb(255, 242, 242);
}

/*profile
------------------------------------*/
.header{
    left: 100px;
    top: 220px;
    position: absolute;
    z-index: 100;
    padding:5px;
    background: rgb(250, 242, 173);
    border-radius: 10px;
}

.intro{
    background: rgb(250, 242, 173);
    position: absolute;
    left: 100px;
    top: 360px;
    border-radius: 10px;
    font-size: 25px;
    width:70%;
    z-index: 100;
    padding: 10px;
}

.myself1{
    position: absolute;
    width: 300px;
    height: 300px;
    right: 100px;
    top: 100px;
    border-radius: 10px;
    z-index:50;
}

.about{
    background: rgb(250, 179, 179);
    padding: 15px;
    left: 100px;
    bottom: 170px;
    position: absolute;
    border-radius: 10px;
    color: rgb(54, 49, 46);
    text-decoration: none;
    z-index:100;
}


/*menu
------------------------------------*/
.menu ul{
    display: inline-flex;
    margin: 50px;
    margin-top: 50px;
}
.menu li{
    list-style: none;
    margin: 0 10px;
    color: rgb(54, 49, 46);
    cursor: pointer;
}

/*icons
------------------------------------*/
.social-icons{
    right: 60px;
    bottom: 80px;
    position: absolute;
}
.social-icons ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
}
.social-icons ul li a{
    color: rgb(255, 155, 155);
    padding: 6px;
    display: block;
}

.social-icons ul li a:hover{
    color:rgb(253, 125, 125);
}

/*buttons
------------------------------------*/
.button{
  background: rgb(250, 242, 173);
  color: rgb(54, 49, 46);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.button:hover {
    background-color: rgb(250, 179, 179);
  }

/* decoration
------------------------------------*/
.block1{
  background: rgb(250, 179, 179);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  right: 90px;
  top: 110px;
  position: absolute;
  z-index: 0;
}

.block2{
    background: rgb(250, 179, 179);
    width: 1023px;
    height: 125px;
    border-radius: 10px;
    left: 90px;
    top: 375px;
    position: absolute;
    z-index: 60;
  }

.block3{
    background: rgb(250, 179, 179);
    width: 382px;
    height: 95px;
    border-radius: 10px;
    left: 90px;
    top: 230px;
    position: absolute;
    z-index: 0;
  }

.block4{
    background: rgb(250, 242, 173);
    width: 110px;
    height: 50px;
    border-radius: 10px;
    left: 110px;
    bottom: 160px;
    position: absolute;
    z-index: 0;
  }

  .pink{
      width:100%;
      height:100%; 
      z-index: -10;
  }
