body {
    color: rgb(54, 49, 46);
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    line-height: 1.2;
    background: rgb(255, 242, 242);
}

/*menu
------------------------------------*/
.menu ul{
    display: inline-flex;
    margin: 50px;
    margin-top: 50px;
}

.menu li{
    list-style: none;
    margin: 0 10px;
    color: rgb(54, 49, 46);
    cursor: pointer;
}

/*buttons
------------------------------------*/
.button{
    background: rgb(250, 242, 173);
    color: rgb(54, 49, 46);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.btn{
    background: rgb(250, 242, 173);
    padding-left: 10px;
    padding-right: 10px;
    left: 342px;
    top: 376px;
    position: absolute;
    border-radius: 10px;
    color: rgb(54, 49, 46);
    text-decoration: none;
    z-index:100;
    opacity: 0.9;
}

.btn2{
    background: rgb(250, 242, 173);
    padding-left: 10px;
    padding-right: 10px;
    right: 342px;
    top: 376px;
    position: absolute;
    border-radius: 10px;
    color: rgb(54, 49, 46);
    text-decoration: none;
    z-index:100;
    opacity: 0.9;
}

.btn3{
    background: rgb(250, 242, 173);
    left: 333px;
    top: 775px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    border-radius: 10px;
    color: rgb(54, 49, 46);
    text-decoration: none;
    z-index:100;
    opacity: 0.9;
}

.btn4{
    background: rgb(250, 242, 173);
    padding-left: 10px;
    padding-right: 10px;
    right: 342px;
    top: 775px;
    position: absolute;
    border-radius: 10px;
    color: rgb(54, 49, 46);
    text-decoration: none;
    z-index:100;
    opacity: 0.9;
}
.button:hover {
    background-color: rgb(250, 179, 179);
  }

.btn:hover {
    background-color: rgb(250, 179, 179);
    opacity: 1;
  }
  .btn2:hover {
    background-color: rgb(250, 179, 179);
    opacity: 1;
  }
  .btn3:hover {
    background-color: rgb(250, 179, 179);
    opacity: 1;
  }
  .btn4:hover {
    background-color: rgb(250, 179, 179);
    opacity: 1;
  }
/*icons
------------------------------------*/
.social-icons{
    right: 60px;
    bottom: 78px;
    position: absolute;
}
.social-icons ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
}
.social-icons ul li a{
    color: rgb(255, 155, 155);
    padding: 6px;
    display: block;
}

.social-icons ul li a:hover{
    color:rgb(253, 125, 125);
}

.pink{
    width:100%;
    height:100%; 
    z-index: -10;
}

.hallmark{
    width: 400px;
    height: 300px;
    top: 250px;
    left: 200px;
    position: absolute;
    border-radius: 10px;
    z-index: 40;
}

.pokemon{
    width: 400px;
    height: 300px;
    top: 250px;
    right: 200px;
    position: absolute;
    border-radius: 10px;
    z-index: 40;
}

.processing{
    width: 400px;
    height: 300px;
    top: 650px;
    left: 200px;
    position: absolute;
    border-radius: 10px;
    z-index: 40;
}

.flash{
    width: 400px;
    height: 300px;
    top: 650px;
    right: 200px;
    position: absolute;
    border-radius: 10px;
    z-index: 40;
}

.block1{
    width: 400px;
    height: 300px;
    top: 265px;
    left: 185px;
    position: absolute;
    border-radius: 10px;
    background: rgb(250, 179, 179);
    z-index: 0;
}

.block2{
    width: 400px;
    height: 300px;
    top: 265px;
    right: 215px;
    background: rgb(250, 179, 179);
    position: absolute;
    z-index: 0;
    border-radius: 10px;
}

.block3{
    width: 400px;
    height: 300px;
    top: 665px;
    left: 185px;
    background: rgb(250, 179, 179);
    position: absolute;
    z-index: 0;
    border-radius: 10px;
}


.block4{
    width: 400px;
    height: 300px;
    top: 665px;
    right: 215px;
    background: rgb(250, 179, 179);
    position: absolute;
    z-index: 0;
    border-radius: 10px;
}
